<div class="row">
	<div class="span6">
		<h2>Active Assignments</h2>
		<%= render :partial => "active_assignments" %>
	</div>
	<div class="span6">
		<h2>Inactive Assignments</h2>
		<%= render :partial => "inactive_assignments" %>
		
	</div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Assignment"), new_assignment_path, :class => 'btn btn-primary' %>
