<div class="well">
	<h3><%= pluralize @completed_tasks.size, 'Task' %> Completed:</h3>
	<ul>
		<% @completed_tasks.each do |task| %>
			<li><%= link_to task.name, task_path(task) %>&nbsp;&nbsp;(<%= task.project.name %> - <%= task.updated_at.strftime("%m/%d") %>)</li>
		<% end %>
	</ul>
</div>