<h1>Welcome To Arbeit</h1>
<br />
<div class="row">
	<div class="span8">
		<p>
			<em><strong>Guten Tag!</strong></em>  Arbeit is a web app that  
			allows users to create and track projects and their associated 
			tasks.  Of course, its real purpose is not to handle projects 
			and tasks, but to demonstrate a few more advanced features 
			using Rails 3.2 as well as give Prof. H a chance to mess around
			with one of his favorite gems: 
			<%= link_to "chronic", "https://github.com/mojombo/chronic" %>. 
		</p>
	</div>
	<div class="span4">
		<div class="well">
			<h3>Access to Arbeit:</h3>
			<p>If you are a registered user, 
			<%= link_to "click here to login", login_path %>. Otherwise, you 
			are just SOL <em>unless</em> you can guess our secret sign-up page.</p>
		</div>
	</div>
</div>


