<h2><em>The Arbeit Project</em></h2>

<p>
	Arbeit is a German word meaning 'work' and 
	was originally created as an excuse for me 
	to mess around with 'chronic' -- a gem that
	takes a natural language string and convert
	it to datetime string.
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>