<div class="well">
	<h3>Past Projects</h3>
	<ul>
		<% @past_projects.each do |project| %>
			<% if can? :read, project %>
				<li><%= link_to project.name, project_path(project) %>&nbsp;&nbsp;(<%= project.start_date.strftime("%m/%y") %> - <%= project.end_date.strftime("%m/%y") %>)</li>
			<% end %>
		<% end %>
	</ul>
</div>